.invalid input {
  color: #b40e0e;
  background-color: #fddddd;
  border: 1px solid #b40e0e;
}

.invalid input:focus {
  background-color: #fbe8d2;
  border-color: #ff8800;
}

.signup h1 {
  font-size: 1.4rem;
}

.signup__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
}

.signup__actions {
  text-align: right;
  width: 100%;
  margin: 1rem;
}

.signup__actions button {
  width: 5rem;
}
