.type-form__controls {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
}

.type-form__control {
  display: flex;
  margin: 0.25rem;
}

.type-form__control label {
  font-size: 1.1rem;
  width: 4rem;
}

.type-form__control input {
  max-width: 95%;
  width: 20rem;
  padding: 0.25rem;
  margin: 0 0.5rem;
  font-size: 1rem;
}

.type-form__control textarea {
  max-width: 95%;
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  margin: 0 0.5rem;
  font-size: 1rem;
}

.type-form__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem 0.5rem;
}
