.question-card {
  max-width: 50rem;
  padding: 0.5rem;
  margin: 1rem auto;
}

.question-card legend {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 1rem;
}

.question-card__list {
  padding: 0.5rem;
}

.question-card__list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0.5rem;
}

.question-card__list label {
  font-size: 1rem;
  font-weight: 600;
}

.question-card__list input {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
