.invalid input {
  color: #b40e0e;
  background-color: #fddddd;
  border: 1px solid #b40e0e;
}

.invalid input:focus {
  background-color: #fbe8d2;
  border-color: #ff8800;
}

.question-form__controls {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
}

.question-form__control {
  display: flex;
  align-items: center;
}

.question-form__control button {
  background: none;
  border: none;
  border-radius: 50%;
}

.question-form__control p {
  font-size: 1.1rem;
  margin-right: 1rem;
}

.question-form__control ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 95%;
  width: 20rem;
  margin: 0.5rem;
}

.question-form__control ul > li {
  margin: 0 2px;
}

.question-form__control ul > li label {
  width: 4rem;
}

.question-form__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem 0.5rem;
}

.question-form__answers {
  max-height: 8rem;
  overflow: auto;
}

.question-form__answers ul > li {
  display: flex;
  justify-content: space-between;
}

.question-form__answers button {
  background: none;
  border: none;
  border-radius: 50%;
}
