.invalid input {
  color: #b40e0e;
  background-color: #fddddd;
  border: 1px solid #b40e0e;
}

.invalid input:focus {
  background-color: #fbe8d2;
  border-color: #ff8800;
}

.edit-quiz__controls {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
}

.edit-quiz__controls label {
  width: 4rem;
  font-size: 1.1rem;
}

.edit-quiz__controls input {
  padding: 0.25rem;
  font-size: 1rem;
}

.edit-quiz__control {
  display: flex;
  align-items: baseline;
}

.edit-quiz__control input[type="text"] {
  max-width: 95%;
  width: 20rem;
  margin: 0.5rem;
}

.edit-quiz__control input:focus {
  background-color: #cee3f0;
}

.edit-quiz__control button {
  background: none;
  border: none;
}

.edit-quiz__control p {
  font-size: 1.1rem;
  margin-right: 1rem;
}

.edit-quiz__control ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 95%;
  width: 20rem;
  margin: 0.5rem;
}

.edit-quiz__control ul > li {
  margin: 0 2px;
}

.edit-quiz__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem 0.5rem;
}

.edit-quiz__answers {
  max-height: 8rem;
  overflow: auto;
}

.edit-quiz__answers ul > li {
  display: flex;
  justify-content: space-between;
}

.edit-quiz__answers button {
  background: none;
  border: none;
}
