.question-item {
  margin: 0.25rem 0;
}

.question-item button {
  background: none;
  border: none;
  border-radius: 50%;
}

.question-item__prompt {
  display: flex;
  justify-content: space-between;
}

.question-item__answers li {
  width: 25%;
  margin: 0 1rem;
  transition: all 1s;
}

.question-item__answers li:hover {
  width: 100%;
  transition: all 1s;
}

.question-item__answers li > div {
  height: 2rem;
}

.question-item__answers p {
  height: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
