.invalid input,
.invalid textarea {
  color: #b40e0e;
  background-color: #fddddd;
  border: 1px solid #b40e0e;
}

.invalid input:focus,
.invalid textarea:focus {
  background-color: #fbe8d2;
  border-color: #ff8800;
}

.quiz-form__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
}

.quiz-form__actions {
  width: 100%;
  margin: 0.5rem;
  text-align: right;
}
