.view-quiz-modal {
  background-color: #4a93bb !important;
}

.view-quiz-modal__remove {
  text-align: right;
}

.view-quiz-modal__remove button {
  border-radius: 12px;
}

.view-quiz-modal__content {
  margin: 0.5rem auto;
  font-size: 1.1rem;
}

.view-quiz-modal__content h1 {
  font-size: 1.9rem;
  color: #fff;
}

.view-quiz-modal__content p {
  height: 10rem;
  padding: 0.5rem;
  margin: 0.5rem auto;
  overflow: auto;
  line-height: 1.2;
  background-color: #f7f7f7;
  border-radius: 7px;
}

.view-quiz-modal__meta {
  padding: 0.5rem;
  margin: 1rem auto;
  font-size: 1.2rem;
}

.view-quiz-modal__meta p {
  padding: 0.5rem;
  color: #fff;
}

.view-quiz-modal__meta span {
  font-weight: 600;
}

.view-quiz-modal__actions {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
}

.view-quiz-modal__actions button {
  margin: 0 0.5rem;
  border-radius: 12px;
}
