.invalid input,
.invalid textarea {
  color: #b40e0e;
  background-color: #fddddd;
  border: 1px solid #b40e0e;
}

.invalid input:focus,
.invalid textarea:focus {
  background-color: #fbe8d2;
  border-color: #ff8800;
}

.type-form__controls {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
}

.type-form__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem 0.5rem;
}
