.quiz-results {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 60vh;
}

.quiz-results__header h1 {
  line-height: 1.2;
  font-size: 1.9rem;
}

.quiz-results__btn--close {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 4rem;
  color: #333;
  cursor: pointer;
  background: none;
  border: none;
}

.quiz-results p {
  height: 20rem;
  margin: 2rem;
  overflow: auto;
  line-height: 1.2;
  font-size: 1.3rem;
}
