.status--active {
  color: #0f0;
}

.status--inactive {
  color: #f00;
}

.main-header {
  width: 100%;
  padding: 0.5rem;
  background-color: #255a78;
}

.main-header h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.main-header p {
  margin: 0.5rem 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.main-header span {
  font-weight: 600;
  text-transform: uppercase;
}

.main-header__meta p {
  margin: 0 0.25rem;
  font-size: 1.1rem;
}

.main-header__meta h1 {
  margin: 1rem;
}

@media only screen and (min-width: 768px) {
  .main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 6rem;
    max-height: 10rem;
  }

  .main-header__meta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .main-header__meta p {
    order: 1;
  }
}
