.input {
  flex-grow: 1;
  display: flex;
  align-items: baseline;
  margin: 0.25rem;
}

.input label {
  width: 20%;
  font-size: 1.1rem;
}

.input input[type="text"] {
  max-width: 95%;
  width: 20rem;
  padding: 0.5rem;
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input input:focus {
  background-color: #cee3f0;
}
