.edit-quiz__controls {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
}

.edit-quiz__controls label {
  font-size: 1.1rem;
  width: 4rem;
}

.edit-quiz__controls input {
  font-size: 1rem;
  padding: 0.25rem;
}

.edit-quiz__control-prompt input,
.edit-quiz__control-answer input {
  width: 20rem;
  max-width: 95%;
  margin: 0.5rem;
}

.edit-quiz__control-prompt button,
.edit-quiz__control-answer button {
  background: none;
  border: none;
}

.edit-quiz__control-prompt {
  display: flex;
  align-items: center;
}

.edit-quiz__control-answer {
  display: flex;
  align-items: center;
}

.edit-quiz__control-types {
  display: flex;
  align-items: center;
}

.edit-quiz__control-types p {
  font-size: 1.1rem;
  margin-right: 1rem;
}

.edit-quiz__control-types ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.edit-quiz__control-types ul > li {
  margin: 2px;
}

.edit-quiz__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem 0.5rem;
}

.edit-quiz__current-answers {
  max-height: 8rem;
  overflow: auto;
}
