:root {
  --primary-color: #fff;
  --secondary-color: #eee;
  --tertiary-color: #ccc;
  --font-color: #000;
}

.searchbar {
  position: relative;
  width: 100%;
  max-width: 30rem;
  padding: 0.25rem 0.5rem;
  margin: 1rem auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: var(--primary-color);
}

.searchbar-wrapper {
  padding: 0.25rem;
  margin-top: 0.5rem 0;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.searchbar-wrapper__input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: inherit;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.searchbar-list {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
  padding: 0.25rem;
  background-color: var(--primary-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searchbar-list__item {
  width: 100%;
  padding: 8px 12px;
  margin: 5px 0;
  font-size: 1.2rem;
  color: var(--font-color);
  background-color: var(--secondary-color);
  border-radius: 3px;
}

.searchbar-list__item:hover {
  cursor: pointer;
  background-color: var(--tertiary-color);
}
